{% extends 'base.html.twig' %}


{% block body %}
    <div class="list-group" style="margin-top:  3rem;">
        <!-- ban funktion noch einbauen -->
        <a href="#" class="list-group-item list-group-item-action active">ban button</a>
        <a href="#" class="list-group-item list-group-item-action active">ban button</a>
        <a href="#" class="list-group-item list-group-item-action active">ban button</a>
    </div>
{% endblock %}