{% extends 'base.html.twig' %}

{% block body %}
<form>
    <div class="form-group">
        <label for="blog-title">Title</label>
        <input type="text" class="form-control" id="blog-title" placeholder="title eingeben">
    </div>
    <div class="form-group" style="height: 16rem">
        <label for="blog"></label>
        <input type="text" class="form-control" id="blog" placeholder="eintrag schreiben">
    </div>


</form>
{% endblock %}