{% extends 'base.html.twig' %}

{% block body %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <p style="text-align: center;">
          <h3 style="text-align: center;">Regeln für Beer Pong</h3>
            <h4>Einstieg:</h4>
        Es wäre empfehlenswert
            <a class="tisch" href="https://www.amazon.de/Hexa-pong-weltbesten-Beer-Becher/dp/B01HJZ4EHS">eckige Becher</a>
        sowie den offiziellen
            <a class="tisch" href="https://www.beerpong-shop.de/beer-pong-tische" >Beer Pong Tisch</a>
        zu verwenden.<br>
        Am anfang werden auf jeder Seite 10 Becher zu einem Dreieck aufgestellt dann wird je nach kultur mit ching chang chong <br>
        oder schnick schnack schnuck entschieden wer anfängt.Es muss auf jeder seite einen Zombie Becher<br>
        und einen Wasser Becher geben.Wenn der Wasser Becher getroffen wird ist pinkel Pause <BR>
        (DAS IST DIE EINZIGE MÖGLICHKEIT FÜR EINE PAUSE.)<br>
        Wenn der Zombie Becher getroffen wird muss der zurück gestellt werden und mit restlichen Bier <br>
        aufgefüllt werden.
            <h4>Becher Treffen</h4>
        Es gibt verschiedene möglichkeiten die gegnerischen Becher aus dem Verkehr zu ziehen<br>
        die simpelste ist ganz normal versuchen auf einen Becher zu werfen wenn einer getroffen ist muss er getrunken werden.<br>
        Doch man kann auch mit einem bounce werfen dann zählt das als zwei becher,(jeder bounce zählt als zusätzlicher becher) das selbe gilt für: angesagte <br>
        Becher, Inseln und wenn ein weiterer becher gestreift (es muss jeder Becher getrunken werden der berührt wurde in so fern der ball am <br>
        ende in einem becher landet)
            <h4>Trickshots</h4>
        Wenn der geworfene Ball zurück über den Tisch rollt darf der Werfer ihn aufnehmen sobald der ball die mitte überquert hat. <br>
        wenn ihm das gelingt darf er einen Trickshot versuchen.Ein Trickshot ist ein wurf wo man entweder mit dem rüken <br>
        zu den gegenspielern steht oder die wurfhand sich hinterm rücken befindet.Die gegenspieler dürfen sobald ein Ball <br>
        die Platte berührt hat ihn aufnehmen und so einen Trickshot oder Bounce verhindern

        </p>
    </div>

{% endblock %}