{% extends 'base.html.twig' %}


{% block body %}
        <form method="post" id="form_wintype" style="">
                <div class="btn-group-vertical form-group"style="left: 20rem; top: 15rem;">
                        <button class="btn btn-primary" tabindex="-1" role="button" name="team1_win">Team1 Win</button>
                        <button class="btn btn-primary" tabindex="-1" role="button" name="team_shave">Team1 Rassur</button>
                        <button class="btn btn-danger" tabindex="-1" role="button" name="team1_blitzko">Team1 Blitz ko</button>
                </div>
                <div class="btn-group-vertical form-group" style="left: 25rem; top: 15rem;">

                        <button class="btn btn-primary" tabindex="-1" role="button" name="team2_win">Team2 Win</button>
                        <button class="btn btn-primary" tabindex="-1" role="button" name="team2_shave">Team2 Rassur</button>
                        <button class="btn btn-danger" tabindex="-1" role="button" name="team2_blitzko">Team2 Blitz ko</button>
                </div>
        </form>
{% endblock %}