{% block body %}

{% block body %}
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Int. winner</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>  <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Int. winner</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>  <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Int. winner</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
        <li class="list-group-item">1</li>
    </ul>

{% endblock %}