{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col- bg-dark text-white">
        asdasd
    </div>
    <div class="col-md bg-danger text-white">
        asd
    </div>
    <div class="col-md bg-success text-white">
        asd
    </div>
</div>
{% endblock %}
