{% extends 'base.html.twig' %}


{% block body %}
    <!-- Invite code -->
    <div class="alert alert-secondary" role="alert" style="margin-top: 2rem;">
        INVITE CODE
    </div>
    <a type="button" href="{{ url('app_logout') }}" class="btn btn-danger"style="position: fixed; top: 1rem; right: 2rem;">Abmelden</a>


{% endblock %}