{% extends 'base.html.twig' %}


{% block body %}
    {% for i,game in games  %}
        {% endfor %}
    <ul id="games" class="list-group">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
    </ul>
    {% endfor %}
    <a type="button" href="{{ url('app_logout') }}" class="btn btn-danger" style="position: fixed; top: 0.5rem; right: 5rem;">Abmelden</a>


{% endblock %}