{% extends 'base.html.twig' %}


{% block body %}
    <form>
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="email" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="wähle einen Username">
        </div>
        <div class="form-group">
            <label for="Password">Passwort</label>
            <input type="password" class="form-control" id="Password" placeholder="Passwort">
        </div>
        <div class="form-group">
            <label for="Password">Passwort wiederholen</label>
            <input type="password" class="form-control" id="Password" placeholder="Passwort wiederholen">
        </div>
        <div class="form-group">
            <label for="invitecode">Einladungs Code</label>
            <input type="password" class="form-control" id="invitecode" placeholder="Einladungs Code"
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Speicher mich</label>
        </div>
        <a href="{{ url('home') }}" class="btn btn-primary" role="button" aria-pressed="true">registrieren</a>
    </form>
{% endblock %}