{% extends 'base.html.twig' %}


{% block body %}
    {% if error != "" %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" name="username" id="Username" aria-describedby="emailHelp" placeholder="wähle einen Username">
        </div>
        <div class="form-group">
            <label for="Password">Passwort</label>
            <input type="password" class="form-control" name="password" id="Password" placeholder="Passwort">
        </div>
        <div class="form-group">
            <label for="Password">Passwort wiederholen</label>
            <input type="password" class="form-control" name="password_repeat" id="Password" placeholder="Passwort wiederholen">
        </div>
        <button class="btn btn-primary" role="button" aria-pressed="true">Registrieren</button>
    </form>
{% endblock %}